.blog{
  position: fixed;

}

.blogButton{
  position: fixed;
  bottom: 22.5px;
  right: 90px;
  padding: 10px 25px;
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  transition: all 0.3s ease;
  overflow: hidden;
}

.blogButtonText{
  font-size: 15px;
  margin: 0;
  transition: transform 0.3s ease;
  transform: translateX(10px);
}

.blogButton svg{
  fill: var(--text-color);
  stroke: var(--text-color);
}

.left-icon {
  position: absolute;
  left: 10px;
  transition: opacity 0.3s ease;
}

.right-icon {
  position: absolute;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.blogButton:hover .left-icon {
  opacity: 0;
}

.blogButton:hover .blogButtonText {
  transform: translateX(-10px);
}

.blogButton:hover .right-icon {
  opacity: 1;
  transform: scale(1.2);
}


.blogButton:hover{
  background-color: var(--accent-color);
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--accent-color);
}