@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}


h1 {
    display: block;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

@media (max-width: 550px) {
    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: fit-content;
        padding: 0;
    }
    .blogheader{
        text-align: center;
        padding: 0;
        transform: translateX(-10px);
    }
    .searchBar {
        width: 20px;
    }
    .Latest{
        margin-top: 100px;
    }
}

.search{
    display: flex;
    justify-content: flex-end;
}

.searchBar {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    background-color: var(--background-color);
    color: var(--text-color);
    width: 200px;
    outline: none;
    transition: all 0.3s ease-in-out;
    &::placeholder {
        color: var(--text-color);
    };
    

    
}

.searchBar:hover{
    background-color: var(--accent-color);
    width: 350px;
}

.line{
    justify-self: center;
}


.headerBar{
    position: fixed;
    left: 0;
    width: 100vw;
    background-color: var(--background-color);
    z-index: 10;
}